# This file defines the code owners for the IRIS repository.
# Code owners will be automatically requested for review when a PR touches their code.

*       @appwebdeveloper63-tech

/docs/                      @appwebdeveloper63-tech
README.md                   @appwebdeveloper63-tech
CONTRIBUTING.md             @appwebdeveloper63-tech
SUPPORT.md                  @appwebdeveloper63-tech

SECURITY.md                 @appwebdeveloper63-tech
electron-builder.yml        @appwebdeveloper63-tech

/src/main/                  @appwebdeveloper63-tech
/src/preload/               @appwebdeveloper63-tech

/src/renderer/              @appwebdeveloper63-tech